
.MuiInputBase-root 
    {
    color: #000 !important;
    /* opacity:100% !important */
/* background-color: aqua; */
  }
  
.checked-item {
  text-decoration: line-through;
}


/* .MuiListItemText-root .MuiListItemText-dense .css-tlelie-MuiListItemText-root  */

.css-tlelie-MuiListItemText-root{
  /* -webkit-flex : 0 */
  flex: none !important;
}